/****开头动画*****/
@keyframes APlus_about_words {
    from {margin-left: -60%;}
    to {margin-left: 0;}
}
@-webkit-keyframes APlus_about_words {
    from {margin-left: -60%;}
    to {margin-left: 0;}
}
@-moz-keyframes APlus_about_words {
    from {margin-left: -60%;}
    to {margin-left: 0;}
}
@-o-keyframes APlus_about_words {
    from {margin-left: -60%;}
    to {margin-left: 0;}
}

@keyframes content-wrapper {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes content-wrapper {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes content-wrapper {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-o-keyframes content-wrapper {
    from {opacity: 0;}
    to {opacity: 1;}
}

.studio-page#content-wrapper {
    opacity: 1;
    animation: content-wrapper .5s ease both;
    -webkit-animation: content-wrapper .5s ease both;
    -moz-animation: content-wrapper .5s ease both;
    -ms-animation: content-wrapper .5s ease both;
    -o-animation: content-wrapper .5s ease both;
}
.APlus_about_words {
    display: inline-block;
    width: 60%;
    margin-top: 20px;
    padding: 1.5em 1em .5em 250px;
    text-indent: 2em;
    color: white;
    animation: APlus_about_words .5s ease-out both;
    -webkit-animation: APlus_about_words .5s ease-out both;
    -moz-animation: APlus_about_words .5s ease-out both;
    -ms-animation: APlus_about_words .5s ease-out both;
    -o-animation: APlus_about_words .5s ease-out both;
}
.APlus_about_img {
    width: 150px;
    /*width: 10%;*/
    margin-left: 5%;
    margin-top: -20px;
}
.APlus_product-container {
    width: 65%;
    margin: 0 auto;
}
h2{
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 2em;
    font-weight: 500;
    color: #F49B36;
}
.APlus_members-container h2 {
    text-align: center;
    /*padding-bottom: 50px;*/
}
.APlus_product_img_container {
    width: 50%;
}
.APlus_product_img{
    width: 100%;
}
.APlus_product_img_container .title_container h3 {
    color: white;
    margin: 0;
    padding: .5em;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}
.APlus_product p {
    width: 50%;
    padding: 15% 2em;
    text-indent: 2em;
}
.APlus_members-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.APlus_members {
    float: left;
    width: 33.3333%;
    margin-bottom: 50px;
}
.APlus_members img {
    width: 150px;
    /*margin-top: -70px;*/
    border-radius: 20px;
}
.APlus_members .introduction {
    display: inline-block;
    width: 35%;
    height: 150px;
    margin-left: 5%;
}
